body{
	background-color: #FAEBD7;
	font-family: Arial, Helvetica, sans-serif;
	
}
h1{

	border-bottom: 5px solid white;
}

h2{
	font-style: italic;
}
h3{
	font-weight: normal;
	margin-bottom: 0px;
}

p{
	margin-top: 15px;
}

article{
	width: 97%;
	height:auto;
	vertical-align: top;
	border:5px solid #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;		
		
}

/* ********************
      navigation
 ********************** */

.menu li { 
	border: 1px solid black;
	display: inline-block;
}

.menu ul { 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
	border-collapse: collapse;
}

.menu a{
	color: black;
	display: block;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.menu a:hover{
	color: white;
	background-color: orange;
}

a:hover{
	color: #AD236F;
}

.menu li a.current{
   color: white;
   background: plum;
}

/* ********************
      Index Page Layout
 ********************** */
.container{
    margin:0 auto;
    width:80%;
}

.zhengliang{

    float: left;
    width: 25%;
    padding-left: 50px;
    

}
.mojin{

    float: left;
    width: 25%;
    padding-left: 50px;

}
.sibel{

    float: left;
    width: 30%;
    padding-left: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*	*************************************
	Media Queries
************************************* */

@media (max-width:1000px) {
    .zhengliang {
        float: none;
        width: auto;
    }
    .mojin {
        float: none;
        width: auto;
    }
    .sibel {
        float: none;
        width: auto;
    }
}

@media (max-width: 490px){

 	.menu li{
 		display: block;
 	}
 	nav{
		position: static;
 	}
 }