body{
	background-color: #c9af98;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	
}

h1{

	font-size: 300%;
	position: static;
	text-align: center;
	color: #3a4660;

}

h2{
	font-style: italic;
	color: #3a4660;
	text-align: center;
}

h3{
	font-weight: bolder;
	margin-bottom: 0px;
	color: #845007;
}

p{
	margin-top: 15px;
}

article, aside{
	width: 97%;
	height:auto;
	align-content: center;
	margin: 10px auto;
	padding: 20px;
	background-color: #FAEBD7;
		
}

a{
	color: #B22222;
}

.banner img{
	display: block;
	margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    vertical-align: middle;
}

/* ********************
      navigation
 ********************** */
 .menu {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: auto;
}

.menu ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;

}

.menu li {
	display: table-cell;
	border: 1px #FAEBD7;
	width: 8%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu li a {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ed8a63;
}

.menu li a.current{
   color: #ed8a63;
   background: #3a4660;
}

/* ********************
      Index Page Layout
 ********************** */

.container{
    margin: 0 auto;
    width:70%;
}

.summary{
    float: left;
    width: 25%;
    padding-left: 50px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*	*************************************
	Media Queries
************************************* */

@media (max-width:1000px) {

	.summary{
		float: none;
		width: auto;
		padding-left: 10px

}
